<div class="example-container">
    <div class="row">
        <label>Span</label>
        <div class="value">
            <span>Span</span>
        </div>
    </div>
    <div class="row">
        <label>Button</label>
        <div class="value">
            <button mat-stroked-button>Button</button>
        </div>
    </div>
    <div class="row">
        <label>Icon Button</label>
        <div class="value">
            <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
    </div>
    <div class="row">
        <label>Mini FAB</label>
        <div class="value">
            <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
                <mat-icon>plus_one</mat-icon>
            </button>
        </div>
    </div>
    <div class="row">
        <label>Select</label>
        <div class="value">
            <mat-form-field>
                <mat-select [formControl]="toppings" multiple placeholder="text">
                    <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <label>Text input</label>
        <div class="value">
            <mat-form-field>
                <input matInput placeholder="text" value="Text input"/>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <label>Chips</label>
        <div class="value">
            <mat-form-field style="width: 100%;">
                <mat-chip-list #chipList aria-label="Fruit selection" style="width: 30em;">
                    <mat-chip removable="true">
                        chip1
                        <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    <mat-chip removable="true">
                        chip2
                        <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="New fruit..."
                           [matChipInputFor]="chipList"
                    >
                </mat-chip-list>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <label>Multiselect list</label>
        <div class="value">
            <mat-selection-list role="list">
                <mat-list-option role="listitem">Item 1</mat-list-option>
                <mat-list-option role="listitem">Item 2</mat-list-option>
                <mat-list-option role="listitem">Item 3</mat-list-option>
            </mat-selection-list>
        </div>
    </div>    <div class="row">
    <label>Radio</label>
    <div class="value">
        <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Option 1</mat-radio-button>
            <mat-radio-button value="2">Option 2</mat-radio-button>
        </mat-radio-group>
    </div>
</div>    <div class="row">
    <label>Checkbox</label>
    <div class="value">
        <mat-checkbox class="example-margin">Check me!</mat-checkbox>
    </div>
</div>    <div class="row">
    <label>Toggle</label>
    <div class="value">
        <mat-slide-toggle>Slide me!</mat-slide-toggle>
    </div>
</div>
</div>
