.example-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.row {
  display: flex;
  flex-direction: row;
  /*border-bottom: rgba(0, 0, 0, 0.1) 1px solid;*/
  padding: 0 1px;
  align-items: center;
}

.row label {
  flex: 2;
}

.row .value {
  flex: 8;
}

.row .value>* {
  width: 100%;
}
