@import "~@angular/material/theming";
@include mat-core();

// Define a theme.
$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);

//$scale: 11/14;
$scale: 1;
$body-font: 14*$scale;
$typography: mat-typography-config(
        $font-family: 'Roboto, "Helvetica Neue", sans-serif',
        $display-4:
                mat-typography-level(
                                8em,
                                1,
                                300,
                        $letter-spacing: -0.05em
                ),
        $display-3:
                mat-typography-level(
                                4em,
                                1,
                                400,
                        $letter-spacing: -0.02em
                ),
        $display-2:
                mat-typography-level(
                                3.2em,
                                1.07,
                                400,
                        $letter-spacing: -0.005em
                ),
        $display-1: mat-typography-level(2.4em, 1.2, 400),
        $headline: mat-typography-level(1.71em, 1.5, 400),
        $title: mat-typography-level(1.286em, 1.5, 500),
        $subheading-2: mat-typography-level(1.14em, 1.5, 400),
        $subheading-1: mat-typography-level(1.07em, 1.2, 400),
        $body-2: mat-typography-level(1em, 1.125, 500),
        $body-1: mat-typography-level(1em, 1.125, 400),
        $caption: mat-typography-level(0.875em, 1.125, 400),
        $button: mat-typography-level(1em, 1, 500),
        $input: mat-typography-level(1em, 1.125, 400)
);
$theme: mat-light-theme($primary, $accent);
$theme: map-merge(
                $theme,
                (
                        typography: $typography
                )
);

:root {
  font-size: 14px;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1rem;
}

@include angular-material-theme($theme);
@include angular-material-typography($typography);

@import "./custom-component-themes.scss";
@include custom-components-theme($theme);
