@import "~@angular/material/theming";

@mixin shared-theme($config-or-theme) {
  $config: mat-get-typography-config($config-or-theme);
  .mat-option {
    line-height: mat-line-height($config, input) !important;
    height: auto !important;
    font: {
      family: mat-font-family($config, input) !important;
      size: mat-font-size($config, input) !important;
      weight: mat-font-weight($config, input) !important;
    }
  }

  .mat-toolbar-row, .mat-toolbar-single-row {
    height: auto;
  }
}
