@mixin slider-theme($config-or-theme) {
  .mat-slider {
    display: flex !important;
    padding: 0 !important;
    flex-direction: row !important;
    align-items: center !important;
  }
  .mat-slider-horizontal {
    height: 1.4em !important;
    min-width: auto !important;
  }
  .mat-slider-horizontal .mat-slider-wrapper {
    top: auto !important;
    left: 0.5em !important;
    right: 0.5em !important;
  }
  .mat-slider-thumb {
    right: -0.5em !important;
    bottom: -0.5em !important;
    width: 1em !important;
    height: 1em !important;
  }
  .mat-slider-thumb-label {
    width: 2em !important;
    height: 2em !important;
  }
  .mat-slider-horizontal .mat-slider-thumb-label {
    right: -1em !important;
    top: -2.86em !important;
  }
}
