@import "~@angular/material/theming";

@mixin tab-theme($config-or-theme) {
  $config: mat-get-color-config($config-or-theme);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);
  .mat-tab-label {
    height: auto !important;
    min-width: auto !important;
    line-height: 1.4em !important;
    padding: 0 0.5em !important;
  }
  .mat-ink-bar {
    background-color: transparent !important;
  }
  .mat-tab-label {
    border-bottom: 2px transparent solid;
  }
  .mat-tab-label-active {
    border-bottom: 2px mat-color($primary) solid;
  }
  .mat-tab-labels {
    flex-wrap: wrap;
  }
}
